<div class="dialog">
  <h3>{{ inputdata.title }}</h3>
  <form (ngSubmit)="updateUser(users)" #myForm="ngForm">
    <div class="input">
      OwnerName:
      <input
        type="text"
        [(ngModel)]="users.ownername"
        name="name"
        placeholder="Enter First Name"
      />
    </div>
    <div class="input">
      OwnerSurname:
      <input
        type="text"
        [(ngModel)]="users.ownersurname"
        name="surname"
        placeholder="Enter Last Name"
      />
    </div>
    <div class="input">
      ContactPhone:
      <input
        type="text"
        [(ngModel)]="users.contactphone"
        name="contactphone"
        placeholder="Enter Your Number"
        
      />
    </div>
    <div class="input">
      whatsApp:
      <input
        type="text"
        [(ngModel)]="users.whatsapp"
        name="whatsapp"
        placeholder="Enter Your WhatsApp Number"
      />
    </div>
    <div class="input">
      Email:
      <input
        type="email"
        [(ngModel)]="users.email"
        name="email"
        placeholder="Enter Your Email"
      />
    </div>
  </form>
  <span>
    <button class="btn1" (click)="updateUser(myForm)">Next</button>
    <button class="btn2" (click)="closeDialog()">Cancel</button>
  </span>
</div>
