<div class="dialog">
    <h3> Add User </h3>
      <div class="input">
        OwnerName:
        <input
          type="text"
          name="name"
          placeholder="Enter First Name"
        />
      </div>
      <div class="input">
        OwnerSurname:
        <input
          type="text"
          name="surname"
          placeholder="Enter Last Name"
        />
      </div>
      <div class="input">
        ContactPhone:
        <input
          type="text"
          name="contactphone"
          placeholder="Enter Your Number"
          
        />
      </div>
      <div class="input">
        whatsApp:
        <input
          type="text"
          name="whatsapp"
          placeholder="Enter Your WhatsApp Number"
        />
      </div>
      <div class="input">
        Email:
        <input
          type="email"
          name="email"
          placeholder="Enter Your Email"
        />
      </div>
