<div class="body">
  <div id="viewport"><app-sidebar></app-sidebar></div>
  <div id="content">
    <div class="card">
      <div class="title">
        <h3>User list</h3>
      </div>
      <div>
        <button class="add-btn" (click)="openAddDialog()">Add User<i class="fa-solid fa-user-plus"></i></button>
      </div>

      <table style="width: 100%">
        <tr>
          <th>OwnerName</th>
          <th>OwnerSurname</th>
          <th>ContactPhone</th>
          <th>Whatsapp</th>
          <th>Email</th>
          <th>Edit User</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{ user.ownername }}</td>
          <td>{{ user.ownersurname }}</td>
          <td>{{ user.contactphone }}</td>
          <td>{{ user.whatsapp }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a (click)="openEditDialog(user)"><i class="fas fa-user-edit"></i></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- <i routerLink="/edituser" class="fas fa-user-edit"></i> -->
