<div id="viewport">
  <div id="sidebar">
    <header>
      <img src="../../../assets/dog-and-cat-icon.png" alt="pet logo" />
    </header>
    <div class="nav">
      <li>
        <a routerLink="/dashboard"> 
          <i class="fa-solid fa-house"></i> Dashboard </a>
      </li>
      <li>
        <a routerLink="/user">
          <i routerLink="/user" class="fa-solid fa-user"></i> User
        </a>
      </li>
      <li>
        <a href="#"> 
          <i class="fa-solid fa-right-from-bracket"></i> Logout </a>
      </li>
    </div>
    <!-- <div>
    <button>
      <i class="fas fa-bars"></i>
      </button>
      </div> -->
  </div>
</div>


